.DS_Store
Paper_vi_VN.aux
Paper_vi_VN.bbl
Paper_vi_VN.blg
Paper_vi_VN.log
Paper_vi_VN.out
Paper_vi_VN.toc
Paper_vi_VN.synctex.gz
Paper.aux
Paper.bbl
Paper.blg
Paper.log
Paper.out
Paper.toc
Paper.synctex.gz
